*{margin:0;padding:0}
#maindiv{
    width:960px;
    background-color:#ddd;
    height:800px;
    margin:0 auto;
    position:relative;

}

.header{
    width:920px;
    height:100px;
    background-color:white;
    position:absolute;
    margin:10px;
    padding:10px;
    float: left;
    display:block;

}

.content_part{
    width:940px;
    height:500px;
    background-color:white;

    margin-top:140px;
    margin-left:10px;
    float: left;
}
.content1{
    width:45%;
    height:90%;
    float:left;
    background-color: darkkhaki;
    margin:2.5%

}

.content2{
    width:45%;
    height:90%;
    float:left;
    background-color: antiquewhite;
    margin:2.5%

}
.footer{
    width:920px;
    height:100px;
    background-color:white;
    position:absolute;
    margin-top:660px;
    margin-left:10px;
    padding:10px;
    float: left;
    background-color: antiquewhite;

}